<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<!---------------------------------------------------------------------------
作者：邹辉《自动化平台测试开发》书；日期：2018年1月；版本：autotestplat V1.0
----------------------------------------------------------------------------->
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<title>autotestplat-自动化平台测试开发</title>
</head>  
  <frameset id="frame1" rows="*" cols="285,*" framespacing="0" frameborder="yes" border="0">
    <frame src="../left" name="leftFrame" scrolling="auto" noresize>
    <frame src="../welcome" name="mainFrame" scrolling="NO"  noresize>
  </frameset>
<noframes>
<body>
</ul>
<ul class="nav navbar-nav navbar-right">
<li>欢迎您，<a href="../admin/">{{user}}</a></li>
<li><a href="/logout/"  target="_top">退出</a></li>
</ul>
</body>
</noframes>
</html>
