pip install django==2.1.3
pip install redis==4.3.6
pip install celery==3.1.26
pip install celery-with-redis==3.0
pip install django-celery==3.2.2
pip install django-redis==4.0.0
pip install kombu==3.0.37
pip install PyMySQL==1.0.2
pip install pillow==8.4.0
pip install request
pip install chardet==3.0.4
pip install idna==2.6
pip install pywin32==305
pip install Appium-Python-Client==1.3.0
pip install yagmail==0.15.293
pip install adbutils==1.2.11
pip install django-cors-headers==3.10.1
pip install mysqlclient==1.4.6
pip install paramiko==3.3.1
pip install psutil==5.9.5
pip install xlrd==2.0.1
pip install faker==14.2.1

