pip install django==2.1.3
pip install redis
pip install celery
pip install celery-with-redis
pip install django-celery
pip install PyMySQL==1.0.2
pip install pillow
pip install request
pip install chardet
pip install idna 
pip install pywin32
pip install Appium-Python-Client-1.4
pip install yagmail -i https://pypi.tuna.tsinghua.edu.cn/simple/
pip install adbutils
pip install django-cors-headers


pip install mysqlclient-1.4.6-cp36-cp36m-win32.whl
pip install paramiko
pip install psutil
pip install xlrd
pip install faker
pip install django-celery==3.2.2
pip install kombu==3.0.35
