setuptools==28.8.0 -i https://pypi.tuna.tsinghua.edu.cn/simple
kombu==3.0.37 -i https://pypi.tuna.tsinghua.edu.cn/simple
celery==3.1.26.post2 -i https://pypi.tuna.tsinghua.edu.cn/simple
django==2.1.3 -i https://pypi.tuna.tsinghua.edu.cn/simple
django-celery==3.2.2 -i https://pypi.tuna.tsinghua.edu.cn/simple
redis==2.10.6 -i https://pypi.tuna.tsinghua.edu.cn/simple
celery-with-redis==3.0 -i https://pypi.tuna.tsinghua.edu.cn/simple
django-redis==4.0.0 -i https://pypi.tuna.tsinghua.edu.cn/simple
PyMySQL==1.0.2 -i https://pypi.tuna.tsinghua.edu.cn/simple
requests==2.15.1 -i https://pypi.tuna.tsinghua.edu.cn/simple
urllib3==1.22 -i https://pypi.tuna.tsinghua.edu.cn/simple
chardet==3.0.4 -i https://pypi.tuna.tsinghua.edu.cn/simple
certifi==2023.7.22 -i https://pypi.tuna.tsinghua.edu.cn/simple
idna==2.6 -i https://pypi.tuna.tsinghua.edu.cn/simple
adbutils==1.2.11 -i https://pypi.tuna.tsinghua.edu.cn/simple
django-cors-headers==3.0.0 -i https://pypi.tuna.tsinghua.edu.cn/simple
mysqlclient==1.4.6 -i https://pypi.tuna.tsinghua.edu.cn/simple
paramiko==3.3.1 -i https://pypi.tuna.tsinghua.edu.cn/simple
psutil==5.9.5 -i https://pypi.tuna.tsinghua.edu.cn/simple
pywin32==305 -i https://pypi.tuna.tsinghua.edu.cn/simple
faker==14.2.1 -i https://pypi.tuna.tsinghua.edu.cn/simple
uiautomator2==2.16.25 -i https://pypi.tuna.tsinghua.edu.cn/simple
weditor==0.6.4 -i https://pypi.tuna.tsinghua.edu.cn/simple
selenium==3.141.0 -i https://pypi.tuna.tsinghua.edu.cn/simple
