<!Doctype html>
<html xmlns="http://www.w3.org/1999/html">
<!---------------------------------------------------------
Auther:：Fin;  Version：Autotestplat-V2.7
----------------------------------------------------------->
<head>
    <meta charset="UTF-8">
    <title> 自动化测试平台 </title>
    <link href="/static/dist/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/css/dt.css" rel="stylesheet" type="text/css">
    <link href="/static/css/navbar.css" rel="stylesheet" type="text/css">
    <script src="/static/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/static/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/src/localfiles/bootstrap.min.js"></script>
    <script src="/static/src/localfiles/jquery.dataTables.min.js"></script>
    <script src="/static/src/localfiles/dataTables.bootstrap4.min.js"></script>
    <script src="/static/vendors/laydate/laydate.js" type="text/javascript"></script>
    <script src="/static/js/public.js"></script>
    <script src="/static/js/index.js"></script>
    <script>
        window.onload = function(){
            if(loginVerify() == 200){
                infoInit()
            }
        }
    </script>
</head>
<body>
    <div class="row" >
        <div class="col-sm">
            <ul class="nav nav-pills nav-pills-success nav-pills-square nav-light bg-white pa-15 fixed-top">
                <li class="nav-item">
                    <a class="nav-link active" href={% url 'index' %}>首 页</a>
                </li>
                <li class="nav-item">
                    <a href={% url 'product' %} class="nav-link"> 产品管理 </a>
                </li>
                <li class="nav-item">
                    <a href={% url 'apitestcase' %} class="nav-link"> 接口用例 </a>
                </li>
                <li class="nav-item">
                    <a href={% url 'apitestplan' %} class="nav-link"> 测试计划 </a>
                </li>
                <li class="nav-item">
                    <a href={% url 'apireport' %} class="nav-link"> 测试报告 </a>
                </li>
                <li class="nav-item">
                    <a href={% url 'parasettings' %} class="nav-link"> 系统设置 </a>
                </li>
                <li class="nav-item">
                    <a href={% url 'user' %} class="nav-link "> 用户设置 </a>
                </li>
                <li class="nav-item">
                    <a href={% url 'apiperformance' %} class="nav-link"> 性能测试 </a>
                </li>
                 <li class="nav-item">
                    <a href={% url 'apptestcase' %} class="nav-link"> AppUI测试 </a>
                </li>
                <li class="nav-item">
                    <a href={% url 'webtestcase' %} class="nav-link"> WebUI测试 </a>
                </li>
                <li class="nav-item" id="navUser">
                    <a href="#" class="nav-link" id="userName"></a>
                </li>
                <li class="nav-item" id="logout">
                    <button class="btn btn-danger" onclick="logout()" style="font-size: 13px">退 出</button>
                </li>
            </ul>
        </div>
    </div>

    <div id="outterDiv" class="hk-wrapper screenHeight">
        <div class="container" style="padding: 70px 20px; max-width: 1800px;">
        <section class="hk-sec-wrapper">
            <hr>
            <h5 class="hk-sec-title" style="text-align:center">  Autotestplat-V4.0 功能说明</h5>
                实现了接口自动化完整功能，产品，接口用例、参数化，测试计划，定时任务，测试报告。
                达到了企业级自动化测试平台需求。<br>
                实现了实时接口性能测试，生成测试脚本，执行测试，测试报告。当前版本测试过程和结果暂时没有设计存储于数据库。
                <br>
                实现了AppUI自动化设置，用例录入，单个用例运行，全部用例运行。测试报告当前版本暂时没有设计。
            <br>
            <hr>
            <h5 class="hk-sec-title" style="text-align:center">  Autotestplat-V4.0 操作手册</h5>
                操作步聚：
                <br>第一步、设置用户，设置产品/项目，用户设置<span style="color: red">默认产品</span>，也就是当前正在进入使用的产品。
                <br>第二步、在系统设置中设置参数，<span style="color: red">环境设置</span>即设置host地址，<span style="color: red">常量</span>即设置固定值作为参数，<span style="color: red">变量</span>可以是时间戳，随机数字、字符等。
                <br>第三步、在接口用例中进行接口用例录入调试，设置<span style="color: red">断言</span>，通过正则表达式设置<span style="color: red">关联参数</span>，执行；在接口中通过<span style="color: red">{关键字}</span>提取参数值。
                <br>第四步、在测试计划中选择接口用例，定时设置，勾选调试，更新，增行，减行，更改顺序。
                <br>第五步、在测试报告中查看测试记录，报告的详情数据。
                <br><br>
                安装部署：
                <br>
                第一步：git clone https://github.com/testdevhome/Autotestplat
                <br>
                第二步：pip install -r requirements.txt
                <br>
                第三步：python manage.py runserver 0.0.0.0:80
                <br>
                第四步：redis-server redis.windows.conf
                <br>
                第五步：python manage.py celery worker -c 6 -l debug
                <br>
                第六步：python manage.py celery beat
            <hr>
        </section>
        </div>
    </div>

</body>
</html>

